Django==1.4.2
Markdown==2.3.1
MythTV==0.26.0
PIL==1.1.7
PyXML==0.8.4
Tkinter==0.0.0
ccsm==0.8.4
cupshelpers==1.0
distribute==0.6.34
dj-database-url==0.2.2
dj-static==0.0.5
django-tinymce==1.5.1
django-toolbelt==0.0.1
fail2ban==0.8.6
gdata==2.0.17
git-remote-helpers==0.1.0
gps==3.6
gunicorn==17.5
matplotlib==1.1.1
mercurial==2.4
nose==1.2.1
numpy==1.6.2
obMenu==1.0
psycopg2==2.5.1
pychm==0.8.4
pycups==1.9.62
pycurl==7.19.0
python-dateutil==1.5
pytz==2012h
pyxdg==0.19
scikit-learn==0.12.1
scipy==0.11.0
static==0.4
urlgrabber==3.9.1
virtualenv==1.9.1
vobject==0.8.1c
wsgiref==0.1.2
