	{% extends "base.html" %} 
	{% block meta_content %} List of blog posts {% endblock %} 
    {% block page_title %} List of blog posts {% endblock %}
    {% block extra_headers %} List of blog posts {% endblock %}
    
      <!-- Jumbotron --> 
	{% block main_content %} 
		{% for post in object_list %}
	  <h4> <a href="{{ post.get_absolute_url }}"> {{ post.title  }} </a> </h4> <br />
      <!-- <hr> --> 

      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span12">
          <!-- <h2>Heading</h2> --> 
          {{ post.excerpt_html|truncatewords_html:"150"|safe }} <br />
          <p><a class="btn" href="{{ post.get_absolute_url }}"> Read details » </a></p>
        </div>
      </div>
	  {% endfor %}
	{% endblock %}
