	{% extends "base.html" %} 
	{% block meta_content %} {{ object.title}} {% endblock %} 
    {% block page_title %} {{ object.title}}  {% endblock %}
    {% block extra_headers %} {{ object.title}}  {% endblock %}
    
      <!-- Jumbotron --> 
	{% block main_content %} 
		{% if object %}
	  <h4> {{ object.title  }} </h4> <br />
      <!-- <hr> --> 

      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span12">
          <!-- <h2>Heading</h2> --> 
          {{ object.excerpt_html|safe }} <br />
          <p><a class="btn btn-large btn-success" href="/weblog/"> Go back To Weblogs » </a></p>  
        </div>
      </div>
	  {% endif %}
	{% endblock %}
